/*21*/
p {
    font: 13px/20px "Times New Roman";
  }

/*22*/
p {
    width: 300px;
    font: bold 40px Arial;
    color: red;
}

/*23*/
p {
    font: italic bold 40px/60px Arial;
    text-indent: 50px;
}
  
  